
html {
--text-700: #4d4d4d;
--text-900: #1a1a1a;

--background-50: #faf7eb;

--accent-600: #1d77af;


}

*{
    /* border: 1px solid red; */
    opacity: 1;
    position: relative;
    z-index: 1;
}

/* 
div {
    border: 2px solid green;
} */


p, li {
    text-decoration: underline dotted #dbcca0;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 45vw;
    @media screen and (width <= 580px) {
        max-width: calc(100vw - 30px);
    }

}

a {
    color: var(--accent-600);
    text-decoration-skip-ink: auto;
}

body {
    color: var(--text-900);
    font-family: "Tirra";
    background: var(--background-50);
    font-size: max(2.5vw, 20px);
    margin-left: 0px;
    margin-right: 0px;
}

h2, h3 {
    color:var(--text-700);
    font-family: "Tirra";
    font-weight: 600;
    font-size: max(5vw, 30px);
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    border: 0px;
    max-width: 45vw; 
    @media screen and (width <= 580px) {
        max-width: calc(100vw - 30px);
        margin-right: 20px;
    }
}

h1 {
    color:var(--text-900);
    font-family: "Lexend";
    font-weight: 500;
    font-size: max(8.5vw, 80px);
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 0px;
    border: 0px;
    width: max(50vw, 450px);
    @media screen and (width <= 580px) {
        max-width: calc(100vw - 30px);
        margin-top: 10px;
        font-size: 70px;
        margin-right: 15px;
        margin-left: 15px;
    }
}

.single-border {
    border: solid #dbcca0 max(0.8vw, 6px);
}

.double-border {
    border: double #dbcca0 max(1.5vw, 10px);
}

img{
    margin: 0px;
    width: 40vw;
    margin-left: 3vw;
    margin-top: 1vw ;
    margin-bottom: 1vw;
    max-width: 100vw ;
    min-width: 250px;
    @media screen and (width <= 580px) {
        margin-right: 15px;
        margin-left: 15px;
        align-self: center; 
    }
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.align-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.align-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#nav {
    color:var(--text-700);
    font-family: "Lexend";
    font-size: max(2vw, 20px);
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;
    border: 0px;
    max-width: none;
    @media screen and (width <= 580px) {
        margin-right: 15px;
        margin-left: 15px;
    }
}

div.align-right>h2, h3 {
    text-align: end;
}

div.align-center>h2, h3 {
   text-align: center; 
}

/* A potential feature for later that I can't get working right now
    This looks like a problem for future me */
    
/* .allow-oversize {
    max-width: none;
    width: max-content;
    margin-left: 5px;
    margin-right: 5px;
} */

canvas {
    opacity: 1;
    position: absolute;
    z-index: 2;
    margin: none;
    padding: none;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.decorative-right {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: -2;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.decorative-left {
    display: flex;
    justify-content: flex-start;
    position: absolute; 
    z-index: -2;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.decoration {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 100vw;
    min-width: 250px;
}

.decoration:not(#heading-decoration) {
    opacity: .5;
    @media screen and (width <= 580px) {
        opacity: 0.3;
    }
}

.rotate-15 {
    transform: rotate(15deg);
}

.rotate-45 {
    transform: rotate(45deg);
}

.rotate-315 {
    transform: rotate(-45deg);
}

.rotate-345 {
    transform: rotate(-15deg);
}

.tiny {
    transform: scale(0.25);
}

.smaller {
    transform: scale(0.50);
}

.small {
    transform: scale(0.75);
}

.flip {
    transform: scaleX(-1);
}

/* Code for snow from https://codepen.io/Calleb/pen/dyVRvyW with minimal changes from me*/
.snow {
  width: stretch;
  height: stretch;
  position: absolute;
  z-index: -2;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.3%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st1' cx='5' cy='8' r='1'/%3E%3Ccircle class='st1' cx='38' cy='3' r='1'/%3E%3Ccircle class='st1' cx='12' cy='4' r='1'/%3E%3Ccircle class='st1' cx='16' cy='16' r='1'/%3E%3Ccircle class='st1' cx='47' cy='46' r='1'/%3E%3Ccircle class='st1' cx='32' cy='10' r='1'/%3E%3Ccircle class='st1' cx='3' cy='46' r='1'/%3E%3Ccircle class='st1' cx='45' cy='13' r='1'/%3E%3Ccircle class='st1' cx='10' cy='28' r='1'/%3E%3Ccircle class='st1' cx='22' cy='35' r='1'/%3E%3Ccircle class='st1' cx='3' cy='21' r='1'/%3E%3Ccircle class='st1' cx='26' cy='20' r='1'/%3E%3Ccircle class='st1' cx='30' cy='45' r='1'/%3E%3Ccircle class='st1' cx='15' cy='45' r='1'/%3E%3Ccircle class='st1' cx='34' cy='36' r='1'/%3E%3Ccircle class='st1' cx='41' cy='32' r='1'/%3E%3C/svg%3E");
  background-position: 0px 0px;
  animation: animatedBackground 10s linear infinite;
}

.snow div {
  width: stretch;
  height: stretch;
  position: absolute;
  z-index: -2;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.7%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st3' cx='4' cy='14' r='1'/%3E%3Ccircle class='st3' cx='43' cy='3' r='1'/%3E%3Ccircle class='st3' cx='31' cy='30' r='2'/%3E%3Ccircle class='st3' cx='19' cy='23' r='1'/%3E%3Ccircle class='st3' cx='37' cy='22' r='1'/%3E%3Ccircle class='st3' cx='43' cy='16' r='1'/%3E%3Ccircle class='st3' cx='8' cy='45' r='1'/%3E%3Ccircle class='st3' cx='29' cy='39' r='1'/%3E%3Ccircle class='st3' cx='13' cy='37' r='1'/%3E%3Ccircle class='st3' cx='47' cy='32' r='1'/%3E%3Ccircle class='st3' cx='15' cy='4' r='2'/%3E%3Ccircle class='st3' cx='9' cy='27' r='1'/%3E%3Ccircle class='st3' cx='30' cy='9' r='1'/%3E%3Ccircle class='st3' cx='25' cy='15' r='1'/%3E%3Ccircle class='st3' cx='21' cy='45' r='2'/%3E%3Ccircle class='st3' cx='42' cy='45' r='1'/%3E%3C/svg%3E");
  background-position: 0px 0px;
  animation: animatedBackground 15s linear infinite;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 300px;
  }
}

/* */