html {
--text-700: #4d4d4d;
--text-900: #1a1a1a;

--background-50: #faf7eb;

--accent-600: #1d77af;


}

#stars-img {
    min-width: 250px;
}

#turtle-img {
    min-width: 250px;
}

*{
    /* border: 1px solid red; */
    opacity: 1;
    position: relative;
    z-index: 1;
}

/* 
div {
    border: 2px solid green;
} */


p, li {
    text-decoration: underline dotted #dbcca0;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 45vw;
    @media screen and (width <= 580px) {
        max-width: calc(100vw - 30px);
    }

}

a {
    color: var(--accent-600);
    text-decoration-skip-ink: auto;
}

body {
    color: var(--text-900);
    font-family: "Tirra";
    background: var(--background-50);
    font-size: max(2.5vw, 20px);
}

h2, h3 {
    color:var(--text-700);
    font-family: "Tirra";
    font-weight: 600;
    font-size: max(5vw, 30px);
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    border: 0px;
    max-width: 45vw; 
    @media screen and (width <= 580px) {
        max-width: calc(100vw - 30px);
        margin-right: 20px;
    }
}

h1 {
    color:var(--text-900);
    font-family: "Lexend";
    font-weight: 500;
    font-size: max(8.5vw, 80px);
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 0px;
    border: 0px;
    width: max(50vw, 450px);
    @media screen and (width <= 580px) {
        max-width: calc(100vw - 30px);
        margin-top: 10px;
        font-size: 70px;
        margin-right: 15px;
        margin-left: 15px;
    }
}

.single-border {
    border: solid #dbcca0 max(0.8vw, 6px);
}

.double-border {
    border: double #dbcca0 max(1.5vw, 10px);
}

img{
    margin: 0px;
    width: 40vw;
    margin-left: 3vw;
    margin-top: 1vw ;
    margin-bottom: 1vw;
    max-width: 100vw ;
    min-width: 250px;
    @media screen and (width <= 580px) {
        margin-right: 15px;
        margin-left: 15px;
         align-self: center;  
    }
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.align-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.align-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#nav {
    color:var(--text-700);
    font-family: "Lexend";
    font-size: max(2vw, 20px);
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 20px;
    @media screen and (width <= 580px) {
        margin-right: 15px;
        margin-left: 15px;
    }
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;
    border: 0px;
    max-width: none;
}

div.align-right>h2, h3 {
    text-align: end;
}

div.align-center>h2, h3 {
   text-align: center; 
}

/* A potential feature for later that I can't get working right now
    This looks like a problem for future me */
    
/* .allow-oversize {
    max-width: none;
    width: max-content;
    margin-left: 5px;
    margin-right: 5px;
} */

canvas {
    opacity: 1;
    position: absolute;
    z-index: 2;
    margin: none;
    padding: none;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
